.checkout__container {
    display: flex;
    background-color: #fff;
    padding: 20px;
}

.checkout__left {
    /* flex: 0.6; */
    width: 100%;
}

.checkout__adImage {
    width: 100%;
    max-height: 120px;
    /* object-fit: contain; */
    margin-bottom: 10px;
}

.checkout__title {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

