.header {
    position: sticky;
    top: 0;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: #0d0614;
    color: white;
    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 50px;
    margin-top: 18px;
}

.header__searchContainer {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__search__input {
    margin: 0;
    padding: 8px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    box-sizing: content-box;
    color: black;
    height: 16px;
    padding: 4px;
    background-color: #febd69;
}

.header__nav {
    display: flex;
    flex-direction: row;
}

.header__navOption {
    display: flex;
    flex-direction: column;
    padding: 4px 20px;
}

.navOption__lineOne {
    font-size: 13px;
}

.navOption__lineTwo {
    font-size: 15px;
    font-weight: 800;
}

.header___option__subtotal {
    display: flex;
    align-items: center;
}

.header__basketIcon {
    box-sizing: content-box;
    padding: 4px 10px;
}

